        body {
            background: linear-gradient(to left, #50abff, #b3d2ee);
            color: #333;
        }

        .container {
            border: 2px solid #f6d365;
            border-radius: 15px;
            padding: 20px;
            margin: 20px auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .transaction-table {
            margin-top: 20px;
        }

        .transaction-actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .btn-primary {
            background-color: #f6d365;
            border-color: #f6d365;
        }

        .btn-primary:hover {
            background-color: #f6d365;
            border-color: #f6d365;
        }
		
	    .form-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }